
		
		
		<div id="change">
		
		
     
		 <label>Item Name</label>
		 <input type="text" name="itemName" id="itemName" pattern="[A-za-z\s]{3,}" required>
		 <label>Item Amount</label>
		 <input type="number" name="itemAmount" id="itemAmount" size="7" required>
		 <button class="submitBtn" onclick="addItem()">Add a food storage item</button>
		 <p class="warning"><%= infomessage %></p>

<h2 class="text-center">These are the food items that we have in our storage for now</h2>
			<div class="table-responsive">
			<table class="table table-striped table-bordered table-hover table-condensed">
			<thead>
				<tr>
					<th>#</th>
					<th>Item</th>
					<th>Amount (kg/liters)</th>
					<th>Update</th>
					<th>Delete</th>
				</tr>
				</thead>
				<tbody>
				<% items.forEach(function(item) { %>
				<tr>
	<td><%= item.id %></td>
    <td><%= item.itemname %></td>
    <td><%= item.amount %></td>
	<td><input type="number"id="quantity" name="quantity" min="-10000" max="10000"><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><button type="button" onclick="updateItem(<%= item.id %>)">Update</button></td>
		<td><button type="button" onclick="deleteItem(<%= item.id %>, <%= item.itemname %>)">Delete this item</button></td>
  </tr>
  <% }); %>
				</tbody>
			</table>
		</div>
		</div>

